  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>For a limited time, I offer free 30-minute phone consultations to business owners in the San Francisco Bay Area. During that time, I will ask multiple questions to understand your needs and propose a plan of action.
</h2>
              <a href="https://appointment.supermodern.xyz" class="btn btn-default btn-xl wow tada">Make an appointment</a>
          </div>
      </div>
  </aside>
