<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Drawing from 15 years of experience in technology at several Silicon Valley startups, and larger companies like Cisco and Google, we offer world-class services designed to add ease and efficiency for small and medium businesses.

You want technology to work for you and your business, and not the other way around. It can be quite overwhelming to pick technology providers, so let me help you.</p>
                <a class="page-scroll" href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
