<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary"></i>
                    <h3>Online Presence</h3>
                    <p class="text-muted">Your online presence matters a lot to your business success: Google &amp; Apple Maps, Facebook, Instagram, your own menus...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Website &amp; Email</h3>
                    <p class="text-muted">Full spectrum of web, email, email delivery audit, e-commerce, analytics, and newsletter services.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wifi wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Infrastructure</h3>
                    <p class="text-muted">Your business needs reliable internet access, networking, wifi, computers, devices, and support.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Payment Systems</h3>
                    <p class="text-muted">Simplify, optimize, and reduce costs on your payment systems. We can plan and execute platform migrations.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary"></i>
                    <h3>Security</h3>
                    <p class="text-muted">Physical + information security and training to keep you safe against various threats at all times.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Process Improvement</h3>
                    <p class="text-muted">Operations audit of your supply chain, vendors, employee training, documentation and handbooks.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-fire wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Disaster Preparedness</h3>
                    <p class="text-muted">Recovery planning, playbooks. Plan for the worst to always be at your best, no matter what happens.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Homeowners</h3>
                    <p class="text-muted">We can also help homeowners with their internet connectivity needs, wifi, security, and home automation (IoT).</p>
                </div>
            </div>
        </div>
    </div>
</section>
